.field-display-none {
  display: none;
}
.occupancy-green {
  background-color: lightgreen;
}
.occupancy-orange {
  background-color: orange;
}
.occupancy-red {
  background-color: red;
}
.occupancy-yellow {
  background-color: #d8eb34;
}

/* CSS */
.room-details-btn-wrapper {
  display: flex;
}
/* Style for each div */
.room-details-btn1 .room-details-btn2 {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

/* 404 Page. */
.page_404 {
  /* padding: 40px 0; */
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 470px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 50px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}

/* Booking link from rooms availble. */

.add-booking,
.view-booking {
  display: inline-block;
  margin-right: 10px;
}

/* Styling for the image */
.add-booking img,
.view-booking img {
  width: 40px;
  height: 40px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
